.u-section-1 .u-sheet-1 {
  min-height: 404px;
}

.u-section-1 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 43px auto 60px;
}