.u-section-1 .u-sheet-1 {
  min-height: 247px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 63px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 477px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 452px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 112px;
  height: 112px;
  background-image: url("images/untitled.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 13px 37px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 452px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 112px;
  height: 112px;
  background-image: url("images/1e45f8c2f88b852570d9ec3f5d2f49c2.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 37px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 13px 37px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 450px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 112px;
  height: 112px;
  background-image: url("images/9d81a9e8941650ce018b1a9edaf4bdf7.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 37px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 13px 37px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 371px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 477px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 112px;
  height: 112px;
  background-image: url("images/0198085d4a5d3e453db98e1eb4ab65f4.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 13px 37px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 112px;
  height: 112px;
  background-image: url("images/b1580a29f19320ed00ebc4a2f81f8027.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 37px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 13px 37px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 450px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 112px;
  height: 112px;
  background-image: url("images/fce626eb41ff8473353bdecea0544181.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 37px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 13px 37px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 371px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 477px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 112px;
  height: 112px;
  background-image: url("images/692950bed31c362f78bde2852cd1c44d.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 13px 37px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 450px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 112px;
  height: 112px;
  background-image: url("images/a_907df66fdb859f40d0076d35e7347735.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 37px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 13px 37px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 450px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 112px;
  height: 112px;
  background-image: url("images/88e4db313bbea0a91a811d6e272e2929.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 37px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 13px 37px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 371px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 589px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 383px;
  margin: 7px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 112px;
  height: 112px;
  background-image: url("images/b82321e7589e30813c4c8f6482665d8b1.png");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-5 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 13px 37px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 12px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 37px;
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
    margin-left: 16px;
  }
}.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}